<!doctype html>
<html lang="en">
  <head>
    {%load static%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>{% block title%} {% endblock %}</title>
     <style>
       {% block css %}
       *{
        margin: 0%;
        padding:0%;
        box-sizing: border-box;
        font-family: 'Averia Serif Libre', cursive;
        font-weight: 700;
    }
    .footer{
      background-color:rgba(57, 46, 94, 0.575) ;
      height: 35vh;
    }
    .buff-favicon{
     margin-left: 35%;
      width: 30%;
      height: 25vh;
    }
    .footer-text{
      text-align: center;
    }
  
   
        {% endblock %}
  </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg " style="background-color:rgba(57, 46, 94, 0.575);">
  <a class="navbar-brand" style="color: rgb(0,100,100) ;" href="/shop">bufferlyDive</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul style="color:#F5BC53"class="navbar-nav mr-auto">
      <li class="nav-item {%block homeactive%}{%endblock%}">
        <a class="nav-link" style="color: rgb(0,100,100) ;"href="/shop/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {%block aboutactive%}{%endblock%}">
        <a class="nav-link" style="color: rgb(0,100,100) ;"href="/shop/about">About Us</a>
      </li>

      <li class="nav-item {%block trackeractive%}{%endblock%}">
        <a class="nav-link" style="color: rgb(0,100,100) ;" href="/shop/tracker">Tracker</a>
      </li>
       <li class="nav-item {%block contactactive%}{%endblock%}">
        <a class="nav-link" style="color: rgb(0,100,100) ;" href="/shop/contact">Contact Us</a>
      </li>


    </ul>
    <form method='get' action='/shop/search/' class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-outline-warning mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">


  Cart(<span id="cart">0</span>)
</button>
  </div>
</nav>
  {% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block js %} {% endblock %}
  </body>
  {%block footer%}
  <footer class="footer">
    <img class="buff-favicon" src="{% static "shop/images/buff-favicon.png" %}" alt="buff-favicon" />
    <h3 class="footer-text">""Every dog must have his day""</h3>
  </footer> 
  {%endblock%}
</html>
